* {
  box-sizing: border-box;

}

body {
  margin: 0;
  /*controlamos los margenes entre los objetos*/
}

#Home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.botones-tipo-vehiculo {
  display: flex;
  /*organiza los elementos en una linea horizontal*/
  gap: 15px;
  /*espacio entre elementos*/
  padding: 10px 20px;
  /*espacio dentro del boton*/
  border-radius: 20px;
  /*redondeado las esquinas*/
  border: 1px solid black;
  /*borde*/
  background: white;
  /*color de fondo*/
  cursor: pointer;
  /*cambia el cursor cuando esta encima del boton*/
}